-
  let temp_name= 'Admin Dashboard'.toUpperCase();
  let name= 'Osman'.toUpperCase();
  let nav_links= ['Services', 'About', 'Contact', 'Sigma'];
  let our_work_nav= ['Photos', 'Videos', 'Apps', 'Lectures'];